# Ignore directory
dist/

# Ignore mysql directory
mysql/

# Ignore .env file
.env

# Ignore node_modules directory
node_modules/

# log
logs/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# .sh
conn_container.sh